<style>
    .header{
        width: 100%;
        height: 44px;
        background: red;
        line-height: 44px;
        text-align: center;
        color: white;
    }
    li{
        float: left;
        width: 9.5%;
        list-style: none;
        border-right: 1px solid white;
    }
</style>

<div class="header">
    <ul>
        <li>首页</li>
        <li>首页</li>
        <li>首页</li>
        <li>首页</li>
        <li>首页</li>
        <li>首页</li>
        <li>首页</li>
        <li>首页</li>
        <li>首页</li>
        <li>首页</li>
    </ul>
</div>