{% extends 'base.html' %}


{# 填坑#}
{% block title %}
    首页
{% endblock %}


{# 填坑#}
{% block header %}
    <div class="home">
        首页 - 导航
    </div>
{% endblock %}


<div class="main">

</div>


{# 填坑#}
{% block test1 %}
    {{ str }}
    {{ str | safe }}
    {% autoescape off %}
        {{ str }}
    {% endautoescape %}

    <p>测试-1</p><p>测试-2</p><p>测试-3</p><p>测试-4</p><p>测试-5</p><p>测试-6</p><p>测试-7</p><p>测试-8</p><p>测试-9</p><p>测试-10</p><p>
    测试-11</p><p>测试-12</p><p>测试-13</p><p>测试-14</p><p>测试-15</p><p>测试-16</p><p>测试-17</p><p>测试-18</p><p>测试-19</p><p>
    测试-20</p>
{% endblock %}






