<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<h1>模型基本操作</h1>
<p>
    <a href="/adddog/">添加狗</a>
</p>
<p>
    <a href="/showdog/">显示狗</a>
</p>
<br>
<hr>

<h1> 一对一 </h1>
<p>
    <a href="/addperson/">添加人</a>
</p>
<p>
    <a href="/addcard/"> 添加身份证(绑定) </a>
</p>
<p>
    <a href="/delperson/">杀死最后一个</a>
</p>
<p>
    <a href="/getpersoncard/"> 获取最后一个人的身份证 </a>
</p>
<p>
    <a href="/getcardperson/"> 获取最后一个身份证 对应人的信息 </a>
</p>
<br>
<hr>

<h1> 一对多 </h1>
<p>
    <a href="/addgrade/">添加班级</a>
</p>
<p>
    <a href="/addstudent/"> 添加学生 </a>
</p>
<p>
    <a href="/delgrade/">删除最后一个班级</a>
</p>
<p>
    <a href="/showgrade/"> 获取班级信息 </a>
</p>
<p>
    <a href="/showstudent/"> 显示学生信息 </a>
</p>
<br>
<hr>

<h1> 多对多 </h1>
<p>
    <a href="/adduser/"> 注册新用户 </a>
</p>
<p>
    <a href="/addgoods/"> 添加商品 </a>
</p>
<p>
    <a href="/addcart/"> 添加商品到购物车 </a>
</p>
<p>
    <a href="/showcart/"> 查看购物车 </a>
</p>
<p>
    <a href="/addcollect/"> 商品收藏 </a>
</p>
<p>
    <a href="/showgoods/"> 商品列表 </a>
</p>
<br>
<hr>

</body>
</html>